{
    "comfy_url": "http://127.0.0.1:8188",
    "comfy_input_dir": "C:/path/to/your/ComfyUI/input",
    "launch_bat": "C:/path/to/your/comfyui.bat",
    "upscaler_workflow_file": "upscaler-tensorrt.json",
    "server_port": 7681,
    "uploader_links": [
        {
            "name": "Catbox",
            "url": "https://catbox.moe/"
        },
        {
            "name": "ただのうｐろだ",
            "url": "https://tadaup.jp/"
        }
    ]
}